@import '../../device-mixin.scss';

.about {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__heading {
    max-width: 800px;
    margin-bottom: 2rem;
    h2 {
      font-size: 2rem;
      font-style: normal;
      font-weight: 300;
      line-height: 2.6875rem;
    }
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  &__divider {
    width: 4.375rem;
    height: 0.125rem;
    background: #29a643;
  }
  &__cons {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
    gap: 1rem;
    @include devices(desktop) {
      grid-template-rows: repeat(2, auto);
      grid-template-columns: 1fr 1fr 1fr;
      gap: .8rem;
    }
  }
}
