@import '../../device-mixin.scss';

.con {
  @include devices(desktop) {
    &:nth-of-type(1) {
      grid-row: 1/4;
      grid-column: 1/2;
    }
    &:nth-of-type(2) {
      grid-row: 1/2;
      grid-column: 2/4;
    }
    &:nth-of-type(3) {
      grid-row: 3/4;
      grid-column: 2/3
    }
    &:nth-of-type(4) {
      grid-row: 3/4;
      grid-column: 3/4;
    }
    max-width: 100%;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.625rem;
  background: #0b0819;
  backdrop-filter: blur(45px);
  padding: 3rem 2rem;
  max-width: 33rem;
  &__icon {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
  }

  &__head {
    display: flex;
    font-size: 1.25rem;
    max-width: 200px;
  }
}

.divider {
  width: 3.125rem;
  height: 0.125rem;
  background: #29a643;
}
