@import '../../device-mixin.scss';

.register {
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1rem;
  @include devices(tablet) {
    width: 800px;
    gap: 0;
    flex-direction: row;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    height: 150px;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
    text-transform: uppercase;
    flex: 1;
    &:nth-of-type(3) {
      @include devices(tablet) {
        line-height: 1.5rem;
        position: relative;
        top: 13px;
      }
    }
    &:nth-of-type(1),
    &:nth-of-type(2) {
      border-bottom: 2px solid #fff;
      @include devices(tablet) {
        border-right: 1px solid white;
        border-bottom: none;
      }
    }
  }
}
