@import '../../device-mixin.scss';

.footer {
  background-color: black;
  @include devices(tablet) {
    padding: 0 2rem;
  }
  &__one {
    display: none;
    @include devices(desktop) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 8rem;
    }
    &__logos,
    &__socials {
      display: flex;
      gap: 2rem;
      justify-content: flex-start;
      align-items: center;
    }
    &__logos {
      flex: 3;
    }
    &__socials {
      color: #bdbdbd;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.25625rem; /* 111.667% */
    }
  }
  &__two {
    gap: 2rem;
    color: #888;
    font-size: 0.75rem;
    line-height: 1.07144rem;

    display: flex;
    height: 14rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__links {
      display: flex;
      gap: 1rem;
    }
    @include devices(desktop) {
      flex-direction: column;
    }
    @include devices(tablet) {
      flex-direction: row;
      height: 10rem;
      justify-content: space-between;
    }
  }
}
