@import '../../device-mixin.scss';

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
  width: 100%;
  background: #000;
  padding: 0 2rem;
  @include devices(desktop) {
    justify-content: space-between;
  }
  &__links {
    display: flex;
    gap: 1rem;
    color: #fff;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: none;
    @include devices(desktop) {
      display: flex;
    }
  }
}
