.asset {
  border-radius: 0.81694rem;
  margin: 10px;
  border: 0.871px solid rgba(167, 167, 167, 0.2);
  background: rgba(140, 140, 140, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem 1.5rem;
  &__metadata {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  &__badge {
    border-radius: 0.21788rem;
    background: #fff8d6;
    color: #000;
    text-shadow: 0px 0px 60.124969482421875px #ffc255;
    font-style: normal;
    font-weight: 500;
    font-size: 0.49013rem;
    text-transform: uppercase;
    padding: 4px 8px;
  }
  &__price {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &--positive,
    &--negative {
      svg {
        width: 0.5rem;
      }
      display: flex;
      align-items: center;
      gap: 0.4rem;
    }
    &--positive {
      color: #b1ffc2;
    }
    &--negative {
      color: #ffa3a6;
    }
  }
  &__price_amount {
    color: #fff;
    text-shadow: 0px 0px 60.124969482421875px #ffc255;
    font-size: 1.08925rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
}

.divider {
  width: 100%;
  height: 0.0625rem;
  flex-shrink: 0;
  opacity: 0.15;
  background: #fff;
}
